[Desktop Entry]
Type=Application
Name=Wactorz
Comment=Wactorz desktop
Exec=wactorz-desktop
Icon=wactorz
Categories=Utility;
Terminal=false
StartupWMClass=io.waldiez.wactorz
